* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yusei Magic", sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: whitesmoke;
  align-items: center;
  min-height: 20vh;
  background-color: rgb(66, 66, 175);
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  margin-bottom: 10vh;
}

.product-displayer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: solid lightgray 1px;
  border-radius: 10px;
  width: 60vw;
  max-height: 40vh;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 20px;
}

.card-img {
  display: flex;
  height: 100%;
  border-radius: 5px;
  margin-right: 10%;
}

.basket {
  height: 100px;
  position: absolute;
  right: 20px;
}

.product-info-container {
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 20%;
}

.button-div {
  margin-top: 30px;
  display: flex;
}

.button-div > * {
  padding: 10px;
  border: none;
  width: 50px;
}

.button-add:active {
  background-color: grey;
}
.button-remove:active {
  background-color: grey;
}

.button-add {
  background-color: rgb(178, 218, 119);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.button-remove {
  background-color: lightcoral;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
